@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf");
}

:root {
    --white: #fff;
    --transp-white: #d7ccc0;
    --light: #f5f4f0;
    --base: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --transp-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-size: 16px;
    line-height: 1.6 em;
    font-family: "Open Sans", sans-serif;

    color: var(--dark);
}

h1, h2, h3 {
    margin: 0;

    font-weight: lighter;
    line-height: 1.2em;
    font-family: Neucha, sans-serif;

    color: var(--base);
}

h1 {
    position: relative;
    font-size: 72px;

    z-index: 100;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.dark {
    color: var(--dark);
}

.white {
    color: var(--white);
}

header, section {
    position: relative;
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--base-dark);
}

.background::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.1;
}

.content {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.header-image {
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
}

.columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header div.columns {
    margin-top: 180px;
}

.columns div {
    flex-basis: calc(50% - 15px);
}

.button-more {
    display: inline-block;

    margin-top: 30px;
    padding: 12px 24px;

    background-color: var(--base);

    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.video {
    text-align: center;
}
.video h2 {
    margin-bottom: 30px;
}

.video iframe {
    margin-bottom: -200px;

    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
    display: flex;
    padding-top: 200px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation h2 {
    font-size: 52px;
}

.navigation h3 {
    color: var(--base);
}

.navigation a {
    text-decoration: none;
    color: var(--dark);
}

.card {
    display: block;
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 20px;
    padding: 24px;
}

h2.card {
    padding: 0;
}

.card-number {
    display: block;
    margin-bottom: 40px;

    font-size: 64px;
    line-height: 1;
    font-family: Neucha;

    color: var(--base-dark);
}

.description {
    display: block;
}

.left-image {
    margin-right: 30px;
}

.description .subtitle {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Neucha';

    color: var(--transp-dark);
}

.description .abstract {
    font-size: 34px;
    line-height: 41px;
    font-family: 'Neucha';

    color: var(--dark);
}

.description h3 {
    margin: 100px 0 20px 0;
    padding: 5px 0 4px 10px;

    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans';

    text-transform: uppercase;

    color: var(--white);
    background-color: var(--brown);
}