@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf");
}

:root {
    --white: #fff;
    --transp-white: #d7ccc0;
    --light: #f5f4f0;
    --base: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --transp-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-size: 16px;
    line-height: 1.6 em;
    font-family: "Open Sans", sans-serif;

    color: var(--dark);
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: Neucha, sans-serif;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    margin: 100px 0;
    text-align: center;
}
