@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf");
}

:root {
    --white: #fff;
    --transp-white: #d7ccc0;
    --light: #f5f4f0;
    --base: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --transp-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --select: #ea7600;
}

.white {
    color: var(--white);
}

.transp-white {
    color: var(--transp-white);
}

.dark {
    color: var(--dark);
}

.transp-dark {
    color: var(--transp-dark);
}

.brown {
    color: var(--brown);
}

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--base-dark);
}

.bg-brown {
    background-color: var(--brown);
}

body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;

    color: var(--dark);
}

h1, h2, h3 {
    margin: 0;

    font-weight: lighter;
    line-height: 1.2em;
    font-family: Neucha, sans-serif;

    color: var(--base);
}

h1 {
    position: relative;
    font-size: 72px;

    z-index: 100;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    margin-block: 0;
    margin-inline: 0;
    margin-bottom: 1em;
}

header, section {
    position: relative;
}

.bg-image::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../images/background.png");
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;

    opacity: 0.1;
}

.content {
    position: relative;
    width: 1110px;
    margin: auto;
    padding: 106px 0 0 2px;
}

.columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.columns div {
    flex-basis: calc(50% - 15px);
}

header {
    height: 913px;
}

header img {
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
}

header .columns {
    margin-top: 192px;
}

header .button-more {
    display: inline-block;

    margin-top: 25px;
    padding: 12px 24px;

    background-color: var(--base);

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
}

header .button-more:hover {
    background-color: var(--select);
}

.video {
    text-align: center;
}

.video h2 {
    margin-bottom: 25px;
}

.video iframe {
    position: relative;
    margin-top: 13px;
    margin-bottom: -200px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));

    z-index: 100;
}

.navigation {
    display: flex;
    padding-top: 300px;
    padding-bottom: 80px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation .card {
    display: block;
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 20px;
    padding: 24px;
}

.navigation .card-number {
    display: block;
    margin-top: 5px;
    margin-bottom: 40px;

    line-height: 1;

    font-size: 64px;
    font-family: Neucha, sans-serif;

    color: var(--base-dark);
}

.navigation h2.card {
    padding: 5px 0 0;

    font-size: 52px;
}

.navigation a.card {
    text-decoration: none;
    color: var(--dark);
}

.navigation h3 {
    padding-bottom: 10px;
    color: var(--base);
}

.navigation .card p {
    margin-bottom: 0px;
}

a.card:hover,
.card:hover .card-number,
.card:hover h3 {
    background-color: var(--base);
    color: var(--white);
}

.description {
    display: block;
    padding-top: 100px;
    padding-bottom: 97px;
}

.description .left-image {
    margin-right: 30px;
}

.description .right-image {
    margin-left: 30px;
}

.description h2 {
    margin: 0;
    padding: 2px 1px 1px 1px;
}

.description h3 {
    margin: 100px 0 20px;
    padding: 5px 0 4px 10px;

    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    text-transform: uppercase;
}

.description p {
    margin: 0;
    padding: 2px 1px 1px 1px;
}

.description .subtitle {
    font-size: 24px;
    line-height: 29px;
    font-family: Neucha, sans-serif;
}

.description .abstract {
    padding-top: 25px;
    font-size: 34px;
    line-height: 41px;
    font-family: Neucha, sans-serif;
}

#errors-in-planning {
    padding-bottom: 125px;
}

footer .columns {
    margin-top: -6px;

    color: var(--white);
}

footer .left-column {
    margin: auto;
    padding: 57px 0px 50px 55px;
}

footer h3 {
    color: var(--white);
}

footer form {
    margin: 33px 0 0 -13px;
}

footer form label {
    font-size: 18px;
    line-height: 41px;
}

footer form input {
    box-sizing: border-box;
    width: 423px;
    height: 50px;
    padding: 15px;
    border-style: none;

    font-size: 12.3px;
}

footer form button {
    position: relative;
    width: 63px;
    height: 50px;
    top: -4px;
    left: -4px;
    padding: 0;

    background-color: var(--base);
    border-style: none;
}

footer form button::before {
    content: "";

    position: absolute;
    width: 20px;
    height: 20px;
    top: calc((100% - 20px) / 2);
    left: calc((100% - 20px) / 2);

    background-image: url("../images/send.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

footer form button:hover {
    background-color: var(--select);
}

footer form p.rules {
    font-size: 12.2px;
}

footer form p.rules a {
    color: var(--white);
}

footer .contacts {
    margin-top: 75px;

    font-size: 14px;
    text-align: center;
}